@{
    string layout = Model.ContentItem.Content.PanelLayout.Layout.Text;
    switch (layout)
    {
        case "Row":
            <section class="bg0 m-t-20">
                <div class="container">
                    <div class="row m-rl--1">
                        @await DisplayAsync(Model.Content.ListPart)
                    </div>
                </div>
            </section>
            break;
        case "LeftAndRight":
            break;
    }
}

