@{
    ContentItem contentItem = Model.ContentItem;
    var linkMenuItemPart = contentItem.Content["LinkMenuItemPart"];
}
<a href="@Url.Content((string)linkMenuItemPart.Url)">@linkMenuItemPart.Name</a>