@model FlyingRat.Module.ContentSetting.ViewModel.ContentSettingPartViewModel
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="HasCoverList" />
        <label class="custom-control-label" asp-for="HasCoverList">@T["Has CoverList"]</label>
    </div>
</div>